<%= form_for(@vote_vote) do |f| %>
  <% if @vote_vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote_vote.errors.count, "error") %> prohibited this vote_vote from being saved:</h2>

      <ul>
      <% @vote_vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :stop_time %><br>
    <%= f.datetime_select :stop_time %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :en_name %><br>
    <%= f.text_field :en_name %>
  </div>
  <div class="field">
    <%= f.label :max_num %><br>
    <%= f.text_field :max_num %>
  </div>
  <div class="field">
    <%= f.label :min_num %><br>
    <%= f.text_field :min_num %>
  </div>
  <div class="field">
    <%= f.label :vote_itme %><br>
    <%= f.text_field :vote_item %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
