<%= form_for(@vote, :html => {:class => 'form-horizontal row-fluid well'}) do |f| %>
  <h3>基本信息</h3>
  <fieldset>
    <div>
      <div class="control-group">
        <%= f.label '投票名称：', :class => 'control-label' %>
        <div class="controls"><input type="text" name="name" class="span12"/></div>
      </div>
      <div class="control-group">
        <%= f.label '开始时间：', :class => 'control-label' %>
        <div class="controls"><input type="datetime-local" name="start_time" class="span12"/></div>
      </div>
      <div class="control-group">
        <%= f.label '截止时间：', :class => 'control-label' %>
        <div class="controls"><input type="datetime-local" name="stop_time" class="span12"/></div>
      </div>
      <div class="control-group">
        <%= f.label '最小可选数量：', :class => 'control-label' %>
        <div class="controls"><input type="text" name="min_num" class="span12"/></div>
      </div>
      <div class="control-group">
        <%= f.label '最大可选数量：', :class => 'control-label' %>
        <div class="controls"><input type="text" name="max_num" class="span12"/></div>
      </div>
      <div class="control-group">
        <%= f.label '入选数量：', :class => 'control-label' %>
        <div class="controls"><input type="text" name="bingo_num" class="span12"/></div>
      </div>
    </div>
  </fieldset>

  <h3>附加信息</h3>
  <fieldset>
    Hello
  </fieldset>
<% end %>
