<h5 class="widget-name"><i class="fa fa-edit"></i>所有投票</h5>
<div class="navbar">
  <div class="navbar-inner">
    <h6>投票列表</h6>
    <%= link_to '新建投票', new_vote_vote_path, :class => 'btn btn-success pull-right' %>
  </div>
</div>
<% if @vote_votes.empty? %>
  <div class="alert">
    暂时还没有投票，请新建投票！
  </div>
<% else %>
  <table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
    <tr>
      <th>名称</th>
      <th>状态</th>
      <th>开始时间</th>
      <th>截止时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% @vote_votes.each do |v| %>
      <tr>
        <td><%= v.name %></td>
        <td><%= Vote::Vote::STATUS[v.status] %></td>
        <td><%= v.start_time.localtime.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= v.stop_time.localtime.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= if v.status == 0
                  link_to '开始', "#{v.id}/start"
                end %>
          <%= if v.status == 1
                link_to '截止', "#{v.id}/stop"
              end %>
          <%= link_to '重置', "#{v.id}/renew" %>
          <%= link_to '查看结果', "#{v.id}/score" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>