<h5 class="widget-name"><i class="fa fa-edit"></i>工会委员选举（海选）结果展示</h5>
<div class="navbar">
  <div class="navbar-inner">
    <h6>入选人列表</h6>
  </div>
</div>
<table class="table table-striped table-bordered table-condensed table-hover">
  <thead>
  <tr>
    <th>姓名</th>
    <th>部门</th>
    <th>处室</th>
    <th>得票数</th>
  </tr>
  </thead>
  <tbody>
  <% @bingo_users.each do |user| %>
    <tr>
      <td><%= user.pname %></td>
      <td><%= user.branch %></td>
      <td><%= user.dept %></td>
      <td><%= user.score %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<h5></h5>
<div class="navbar">
  <div class="navbar-inner">
    <h6>其余候选人列表</h6>
  </div>
</div>
<table class="table table-striped table-bordered table-condensed table-hover" id="filer-table">
  <thead>
  <tr>
    <th>姓名</th>
    <th>部门</th>
    <th>处室</th>
    <th>得票数</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.pname %></td>
      <td><%= user.branch %></td>
      <td><%= user.dept %></td>
      <td><%= user.score %></td>
    </tr>
  <% end %>
  </tbody>
</table>