<h5 class="widget-name"><i class="fa fa-edit"></i>工会委员选举（复选）</h5>
<% if @ins.status != 0 %>
  <div class="alert widget">
    您已经完成了投票，请在投票截止后查询投票结果！</a>
  </div>
  <% else %>
  <div class="alert widget">
    本次投票最多可投5人，请在下面的候选人表格中点击选择进行投票！
  </div>
<% end %>
<div class="navbar">
  <div class="navbar-inner">
    <h6>已选择列表</h6>
    <% if @ins.status == 0 %>
      <%= link_to '提交', vote_gonghui2_submit_path(@ins), :class => 'btn btn-success pull-right' %>
    <% else %>
      <%= link_to '返回修改', vote_gonghui2_edit_path(@ins), :class => 'btn btn-info pull-right' %>
    <% end %>
  </div>
</div>
<% if @ins.results.empty? %>
  <div class="alert">
    您暂时还没有选择候选人，请在下面的候选人表格内选择！
  </div>
<% else %>
  <table class="table table-striped table-bordered table-condensed table-hover">
    <thead>
    <tr>
      <th>姓名</th>
      <th>部门</th>
      <th>处室</th>
      <% if @ins.status == 0 %>
        <th>操作</th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @ins.results.each do |u| %>
      <tr>
        <td><%= u.pname %></td>
        <td><%= u.branch %></td>
        <td><%= u.dept %></td>
        <% if @ins.status == 0 %>
          <td><%= link_to '取消', vote_gonghui2_unvote_user_path(u), :class => 'btn btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<% if @ins.status == 0 %>
  <h5></h5>
  <div class="navbar">
    <div class="navbar-inner">
      <h6>候选人列表</h6>
    </div>
  </div>
  <table class="table table-striped table-bordered table-condensed table-hover" id="filer-table">
    <thead>
    <tr>
      <th>姓名</th>
      <th>部门</th>
      <th>处室</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |origin_user| %>
      <tr>
        <td><%= origin_user.pname %></td>
        <td><%= origin_user.branch %></td>
        <td><%= origin_user.dept %></td>
        <td><%= link_to '选择', vote_gonghui2_vote_user_path(origin_user), :class => 'btn btn-info' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>