<div class="navbar" style="margin-top: 1px">
  <div class="navbar-inner">
    <h6>数据信息</h6>
    <%= link_to "添加数据信息", '', :class => 'btn btn-success pull-right' %>
  </div>
</div>
<% if items.empty? %>
  <div class="alert">
    <strong>Sorry！</strong>还没有添加数据信息！
  </div>
<% else %>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <% @vote.items.first.content.count.times do |index| %>
        <th>数据列<%= index %></th>
      <% end %>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% items_total_num = @vote.items.count
       @vote.items.page(params[:page]).each_with_index do |item, index| %>
      <tr>
        <% item.content.keys.each do |key| %>
          <td><%= item.content[key] %></td>
        <% end %>
        <td>
          <%= vote_item_op_button vote_vote_main_path + '/items', index, items_total_num %>
        </td>
      </tr>
    <% end %>
<% end %>
</tbody>
</table>
<%= will_paginate @vote.items.page(params[:page]), :class => 'flickr_pagination' %>